# Licenciatura en Ciencia de Datos## Universidad de la Ciudad de Buenos AiresCurso: Introducción a Python para Análisis de Datos

### 📖 IntroducciónAnálisis exploratorio de datos con groupby, nuevas columnas y visualizaciones.

### 💡 Tips- `groupby()`- Nuevas columnas

## 🧩 Ejercicio 1: Explorar dataset

In [ ]:
# --- TU CÓDIGO AQUÍ ---

## 🧩 Ejercicio 2: Nuevas columnas

In [ ]:
# --- TU CÓDIGO AQUÍ ---

## 🧩 Ejercicio 3: Agrupar y analizar

In [ ]:
# --- TU CÓDIGO AQUÍ ---

## 🧩 Ejercicio 4: Visualizaciones

In [ ]:
# --- TU CÓDIGO AQUÍ ---